params {
    tool_outputs_dir = "$baseDir/data/tools_outputs"

    data_download{
        run = "True" // must be 'True' or 'False'      
        reference_mat_url = "" 
        reference_barcodes_url = ""
        reference_genes_url = ""                                         
        query_matrix_url = "" 
        query_barcodes_url = "" 
        query_genes_url = ""
        reference_metadata = "" 
        marker_genes_file = ""
    }

    // contol field names in metadata file 
    metadata{
        barcode_col_name = ""
        ref_label_col_name = ""
        ref_CL_col_name = ""
    }
    
    scpred{
        run = "True" // must be 'True' or 'False'
        method = "prediction"
        training_10x_dir = "$baseDir/data/10x_data"
        metadata_file = "$baseDir/data/example_sdrf.txt"
        //cell_id_col_name = "Comment.ENA_RUN."
        //cell_types_col_name = "Factor.Value.cell.type."

    }
    scmap_cluster {
        run = "True" // must be 'True' or 'False'

        projection_method = "cluster"

    }
    scmap_cell{
        run = "True" // must be 'True' or 'False'
        projection_method = "cell"
    }
    garnett {
        run = "False" // must be 'True' or 'False'
    
    }
    label_analysis{
        run = "True" // must be 'True' or 'False'
        output_dir = "$baseDir/data/label_analysis_output"
        tool_perf_table="tool_perf_table.tsv"
        cell_anno_table="cell_anno_table.tsv"
        tool_table_pvals="tool_perf_pvals.tsv"
         

    }


}


env { 
    WORK_DIR = "$PWD/work"
    GARNETT_BASE_DIR = ""
    SCPRED_BASE_DIR = "~/dev/scpred-workflow"
    SCMAP_BASE_DIR = "~/dev/scmap-workflow"
    LABEL_ANALYSIS_BASE_DIR = "~/dev/cell-types-analysis-workflow"



}





